body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

textarea {
  resize: vertical;
}

/* About Page */
#about-page {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  /* icon */
  svg {
    width: 50px;
    height: 50px;
  }

  .card-with-icon-and-text {
    padding: 0.5px;
    width: 50%;
  }

  .tech-card {
    width: auto
  }

  @media only screen and (min-width: 576px) {
    h1 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }

    button {
      padding: 0.5rem 1rem;  /* Larger padding for bigger buttons */
      font-size: 1.25rem;    /* Larger font size */
      line-height: 1.5;      /* Adjust line height for better spacing */
      border-radius: 0.3rem; /* Slightly rounded corners */
    }

    /* icon */
    svg {
      width: 80px;
      height: 80px;
    }

    .card-with-icon-and-text {
      padding: 0.5px;
      width: 33%;
    }

    .tech-card {
      width: auto
    }
  }
}
/* About Page - END */

/* SCROLL TO TOP */

.scroll-to-top {
  z-index: 1;
  color: grey;
  position: fixed;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
}

.scroll-to-top:hover {
  color: rgb(27, 71, 216)
}

/* PRINT STYLES */

@media print {

  #navbar,
  .scroll-to-top {
    display: none;
  }

  * {
    /* font-family: serif !important;
    font-size: 16pt !important;
    line-height: 1.5 !important; */
    color: black !important;
    background-color: white !important;
  }

  h1,
  h2,
  h3 {
    break-after: avoid;
  }

  img,
  svg {
    break-inside: avoid;
  }
}